/*Archivo css específico para la página index.html*/
section {
    padding: 2rem;
    text-align: center;
}

section h2 {
    color: #343a40;
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

section p {
    color: #6c757d;
    font-size: 1.8rem;
    line-height: 1.6;
}

.listado-casos-exito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.listado-casos-exito div {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 30rem;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.listado-casos-exito div:hover {
    transform: translateY(-0.5rem);
}

.listado-casos-exito img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
}

.listado-casos-exito p {
    color: #495057;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .listado-casos-exito {
        flex-direction: column;
        align-items: center;
    }

    .listado-casos-exito div {
        width: 100%;
    }

    section h2 {
        font-size: 2.2rem;
    }

    section p {
        font-size: 1.7rem;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .ambito {
        width: 100%;
    }
}

.ambito {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.ambito:nth-child(odd) {
    background-color: #ffead5;
}

.ambito:nth-child(even) {
    background-color: #ffffff;
}

.ambito:hover {
    transform: translateY(-0.5rem);
}

.ambito img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
}

.info-ambito h3 {
    color: #343a40;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.info-ambito p {
    color: #495057;
    font-size: 1.6rem;
}