/*Archivo css específico para la página proyectos.html*/
/* Sección "Nuestros proyectos" */
section {
    padding: 20px;
    text-align: center;
}

section h2 {
    color: #343a40;
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

/* Sección "Galería de Proyectos" */
.galeria-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.proyecto {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.proyecto:hover {
    transform: translateY(-5px);
}

.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: cover;
}

.info-proyecto {
    text-align: center;
}

.info-proyecto h3 {
    color: #FF4500;
    font-size: 22px;
    margin-bottom: 10px;
}

.info-proyecto p {
    color: #495057;
    font-size: 16px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .galeria-proyectos {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .proyecto {
        padding: 15px;
    }

    .info-proyecto h3 {
        font-size: 20px;
    }

    .info-proyecto p {
        font-size: 14px;
    }
    section h2 {
        font-size: 22px;
    }
    section p {
        font-size: 17px;
    }
}