/* Archivo css específico para la página ultimo-proyecto.html */
/* Secciones */
section {
    padding: 2rem;
    text-align: center;
}

section h2 {
    color: #343a40;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

/* Estilos para la tabla */
table {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    /*Sombreado de caja. Encontrado en https://www.w3schools.com/css/css3_shadows_box.asp */
    border-radius: 1rem;
}

thead th {
    background-color: #FF4500;
    color: #fff;
    padding: 1.5rem;
    font-size: 2rem;
}

tbody td {
    padding: 1.5rem;
}

tfoot td {
    padding: 1.5rem;
    background-color: rgba(255, 140, 0, 0.2);
    font-weight: bold;
}

tbody td,
tfoot td {
    box-shadow: 0 0 1rem rgba(155, 22, 22, 0.1);
    /*Sombreado de caja. Encontrado en https://www.w3schools.com/css/css3_shadows_box.asp */
    border-radius: 0.8rem;
}

tbody td:hover {
    background-color: #feece0;
}

/* Estilos para las imágenes del proyecto */
.img-proyecto h2 {
    color: #343a40;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.imagenes-proyecto {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* Hace que el contenedor sea desplazable horizontalmente */
    /*CSS overflow-x Property. Encontrado en https://www.w3schools.com/cssref/css3_pr_overflow-x.php */
    gap: 1rem;
    max-width: 60rem;
    margin: auto;
}

.imagenes-proyecto img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
}

/* Estilos para la descripción del proyecto */
.descripcion-proyecto h2 {
    color: #343a40;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.descripcion-proyecto p {
    color: #666;
    font-size: 1.6rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    section h2 {
        font-size: 2.2rem;
    }

    section p {
        font-size: 1.7rem;
    }

    table {
        font-size: 1.4rem;
    }

    thead th,
    tbody td,
    tfoot td {
        padding: 1rem;
    }

    .imagenes-proyecto {
        flex-direction: column;
    }

    .imagenes-proyecto img {
        width: 100%;
    }
}